body,
html {
    height: 100%;
    margin: 0;
    border: none;
}

h1 {
    text-align: center;
    font-size: 6em;
    margin-top: .67em;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    margin: .75em 0;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

p {
    margin: 0;
}

p+p {
    margin-top: 10px;
}

li {
    margin-bottom: 20px;
}

header {
    background-color: #EE8081;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 60px;
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    margin: 20px 200px;
}

.row {
    text-align: center;
}
.question {
    padding: 10px 0;
}

.question p {
    padding-bottom: 5px;
}

.question select {
    border: 3px solid #7B92B5;
    width: 100%;
}

.radioButtons {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    padding: 10px 0px;
}

.radioItem {
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.radioItem p {
    white-space: nowrap;
}

input {
    font-size: 1.3em;
    
    border: 3px solid #7B92B5;
}

input[type=radio] {
    margin: 0px 7px;
}

input[type=text] {
    width: 100%;
    margin: 2px 0;
    border-radius: 5px;
    font-weight: 300;
}

textarea {
    resize: none;
    width: 100%;
    border: 3px solid #7B92B5;
}

textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #EE8081;
    font-size: 1.3em;
    font-weight: 300;
}

input[type=text]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #EE8081;
    font-size: 0.8em;
}

input[type=submit] {
    padding: 13px 50px;
    background-color: transparent;
    border: 3px solid #7B92B5;
    color: black;
    border-radius: 4px;
    margin: 30px auto 0;
    font-size: 0.8em;
    margin-bottom: 30px;
}

input[type=submit]:hover {
    background-color: lightblue;
}

button:hover {
    background-color: gray;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 3em;
    }
    input[type=radio] {
        vertical-align: right;
    }
    form {
        margin: 20px 100px 0;
    }
    .radioButtons {
        flex-direction: column;
        margin: 10px auto;
    }
    .radioItem {
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 350px) {
    form {
        margin: 20px 50px 0;
    }
}